# Node dependencies
/node_modules
/api/node_modules
/web/node_modules
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Local environment files
.env
/docker/.env

# Docker Compose overrides
docker-compose.override.yml
docker-compose*

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
logs
*.log

# Runtime files
*.pid
*.seed

# OS files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/


# Terraform local files
.terraform/
.terraform.lock.hcl
.terraform.tfstate
.terraform.tfstate.backup
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.tfvars.*
*.tfplan
*.tfplan.*
override.tf
override.tf.json
*_override.tf
crash.log
.terraform.tfstate.d/

# Misc
.cache/
.sass-cache/
*.pid
*.seed
*.pid.lock
.turbo/
coverage/
dist/
build/